## .NET / Visual Studio
publish_output/
FINAL_RELEASE/
SMALL_RELEASE/
FINAL_v1.1.0/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

## Visual Studio Cache & Build Folders
.vs/
.cache/
x64/
x86/

## User-Specific Settings
# Prevents your private Steam API Key/ID from being shared
Properties/Settings.settings
Properties/Settings.Designer.cs

## Application Data & Cache
# This ignores the local JSON database and the downloaded covers
games_cache.json
ImageCache/

## Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store